@import 'bootstrap';

body {
	background-image: url('http://vsco.co/i/51b8f945586808075f000020?w=1100x733&cb=1382488517983');
	background-size: 100%;
	background-repeat:no-repeat;
	font-family: 'proxima_nova_rgbold', Helvetica, Arial;

}